/**************** feature_post css start ****************/
.all_post{
    .sidebar_widget{
        h3{
            font-size: 20px;
        }
        .form-group{
            margin-bottom: 55px;
            @media #{$small_mobile}{
                margin-bottom: 25px;
            }
            @media #{$large_mobile}{
                margin-bottom: 25px;
            }
            @media #{$tab_device}{
            
            }
            @media #{$medium_device}{
            
            }
        }

        .sidebar_tittle{
            h3{
                font-size: 24px;
                color: $menu_color;
                font-weight: 600;
                margin-bottom: 45px;
                position: relative;
                &:after{
                    position: absolute;
                    content: "";
                    width: 40px;
                    height: 1px;
                    bottom: -12px;
                    background-color: $btn_bg;
                    left: 25px;
                }
                &:before{
                    position: absolute;
                    content: "";
                    width: 15px;
                    height: 4px;
                    bottom: -13px;
                    background-color: $btn_bg;
                    left: 0px;
                }
                @media #{$small_mobile}{
                    margin-bottom: 35px;
                    margin-top: 35px;
                }
                @media #{$large_mobile}{
                    margin-bottom: 35px;
                    margin-top: 35px;
                }
                @media #{$tab_device}{
                    margin-bottom: 35px;
                    margin-top: 35px;
                }
                @media #{$medium_device}{
                
                }
            }
        }
        .form-control{
            border-radius: 0px !important;
            font-size: 13px;
            color: #999999;
            font-weight: 400;
            height: 52px;
            &:focus{
                outline: none !important;
                border-color: #e9ecee;
            }
        }
        .btn{
            background-color: $btn_bg;
            color: $white_color;
            width: 50px;
            margin-left: 10px;
            border-radius: 0px;
        }
       
    }
    .category{
        margin-bottom: 45px;
        ul li{
            margin-bottom: 12px;
            font-size: 18px;
            a{
               color: #888888;
               font-family: $font_stack_2;
            }
        }
    }
    .tags{
        
        ul li{
            display: inline-block;
            a{
                display: inline-block;
                border: 1px solid transparent;
                background: #fff;
                margin-bottom: 8px;
                margin-right: 3px;
                transition: all 0.3s ease 0s;
                color: #888888;
                font-size: 13px;
                font-family: $font_stack_2;
                font-weight: 600;
                text-transform: uppercase;
                color: #2a2a2a;
                background-color: #f2f3f4;
                padding: 9.5px 28px;
                @include transform_time(.5s);
                &:hover{
                    border: 1px solid $btn_bg;
                }
            }
        }
        
    }
    .load_btn {
        margin-top: 80px !important;
        @media #{$small_mobile}{
             margin-top: 30px !important;
        }
        @media #{$large_mobile}{
            margin-top: 30px !important;
        }
        @media #{$tab_device}{
        
        }
        @media #{$medium_device}{
        
        }
    }
    @media #{$small_mobile}{
        .sidebar_widget{
            margin-top: 50px;
        }
        .post_3{
            margin-bottom: 20px;

        }
    }
    @media #{$large_mobile}{
        .sidebar_widget{
            margin-top: 50px;
        }
        .post_3{
            margin-bottom: 20px;

        }
    }
    @media #{$tab_device}{
    .sidebar_widget{
            margin-top: 50px;
        }
        .post_3{
            margin-bottom: 20px;

        }
    }
    @media #{$medium_device}{
    
    }
}
.archive_post{
    padding: 100px 0px 65px;
    @media #{$small_mobile}{
        padding: 70px 0px 35px;
    }
    @media #{$large_mobile}{
        padding: 70px 0px 35px;
    }
    @media #{$tab_device}{
        padding: 80px 0px 45px;
    }
    @media #{$medium_device}{
    
    }
    .post_2 .post_text_1 {
        margin: 35px 0px;
    }
}
.blog_area {
    .load_btn{
        margin-top: 60px !important;
    }
 }