/**************** feature_post css start ****************/
.feature_post{
    padding: 140px 0px 100px;
    @media #{$small_mobile}{
        padding: 40px 0px 40px;
    }
    @media #{$large_mobile}{
        padding: 70px 0px 70px;
    }
    @media #{$tab_device}{
        padding: 70px 0px 70px;
    }
    @media #{$medium_device}{
    
    }
    
    .single_feature_post{
        
        .post_text_1{
            @media #{$small_mobile}{
                margin: 20px 0px 20px;
            }
            @media #{$large_mobile}{
                margin: 20px 0px 20px;
            }
            @media #{$tab_device}{
                margin: 20px 0px 20px;
            }
            @media #{$medium_device}{
            
            }
        }
    }
    .post_1{
        width: 33.33%;
        float: left;
        @media #{$small_mobile}{
            width: 100%;
            &:last-child{
                margin-top: 20px;
            }
        }
        @media #{$large_mobile}{
            width: 46%;
            margin-left: 3%;
            h3{
                font-size: 18px;
            }
            ul li{
                padding-left: 16px;
                margin-right: 2px;
            }
        }
        @media #{$tab_device}{
            width: 46%;
            margin-left: 3%;
            h3{
                font-size: 18px;
            }
            ul li{
                padding-left: 16px;
                margin-right: 2px;
            }
        }
        @media #{$medium_device}{
        
        }
    }
}